@media (max-width: 1024px) {
    .header__wrapper-navbar{
        flex-wrap: wrap;
    .header__wrapper-buttons{
        display: none;
    }}
    
    header .container .header__wrapper .header__wrapper-navbar{
        padding-bottom: 60px;
    }
    .logo .container .logotips{
        flex-wrap: wrap;
        justify-content: center;
        div{
            display: flex;
            justify-content: center;
            padding-bottom: 40px;
            width: calc( 100% / 3);
        }
        div:nth-child(n+4)
        {
            padding-bottom: 0px;
        }
    }
    header .container .header__wrapper{
        padding-bottom: 70px;
    }
}
    @media (max-width: 767px) {
        .container {
          max-width: 320px;
          padding: 0;}
          header .container .header__wrapper{
            padding-top: 25px;
          
        }
        header .container .header__wrapper .header__wrapper-navbar{
            justify-content: space-around;
            padding-bottom: 30px;
            .header__wrapper-logo{
                padding-bottom: 20px;
            }
        }
        header .container .header__wrapper .header__wrapper-maininfo .header__wrapper_maininfo-text {
            h1{font-size: 45px;
                line-height: 45px;}
            p{
                font-size: 17px;
                padding-bottom: 35px;
            }
                
            
        } 
        header .container .header__wrapper .header__wrapper-maininfo .header__wrapper_maininfo-text .buttons {
           button{
            padding: 15px 40px;
            font-size: 14px;
           }
            a{ width: 50px;
            height: 50px;}
           
        }
        header .container .header__wrapper{
            padding-bottom: 50px;
        }
      }